insis_2020_2021_1161393_1161491/p2_esb/datasources/keywords_wsdl.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mio="http://demo5454737.mockable.io/service/1" targetNamespace="http://demo5454737.mockable.io/service/1">
	<wsdl:documentation>mockable.io generated WSDL</wsdl:documentation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://demo5454737.mockable.io/service/1">
			<xsd:element name="getKeywordsRequest" type="xsd:anyType"/>
			<xsd:element name="getKeywordsResponse" type="xsd:anyType"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getKeywordsInputMessage">
		<wsdl:part name="getKeywordsInputPart" element="mio:getKeywordsRequest"/>
	</wsdl:message>
	<wsdl:message name="getKeywordsOutputMessage">
		<wsdl:part name="getKeywordsOutputPart" element="mio:getKeywordsResponse"/>
	</wsdl:message>
	<wsdl:portType name="PortType">
		<wsdl:operation name="getKeywords">
			<wsdl:input name="getKeywordsInput" message="mio:getKeywordsInputMessage"/>
			<wsdl:output name="getKeywordsOutput" message="mio:getKeywordsOutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Binding" type="mio:PortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getKeywords">
			<soap:operation soapAction="getKeywords"/>
			<wsdl:input name="getKeywordsInput">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getKeywordsOutput">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Service">
		<wsdl:port name="Port" binding="mio:Binding">
			<soap:address location="http://demo5454737.mockable.io/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>